.tetrec-main-menu {
	text-align: center;
}

#tetrec_page .ui-content {
	text-align: center;
}

.tetrec-social-buttons {
	margin-top: 10%;
}

.ui-header {
	height: 40px;
}

.ui-footer {
    height: 40px;
}

/*@media all and (min-width: 36em) {

}*/