.tetrec-main-menu {
	text-align: center;
}

#tetrec_page .ui-content {
	text-align: center;
}

.ui-header {
	height: 40px;
}

#main_page .ui-footer {
    height: 40px;
}

.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-c {
	width: 0;
}

.ui-grid-b .ui-block-b {
	width: 100%;
}

@media all and (min-width: 40em) {
	.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-c {
		width: 30%;
	}

	.ui-grid-b .ui-block-b {
		width: 40%;
	}

	.tetrec-social-buttons {
		margin-top: 10%;
	}
}