@font-face {
	font-family: 'Press Start 2P';
	src: url(PressStart2P.ttf);
}

.tetrec-main-menu {
	text-align: center;
}

#tetrec_page .ui-content {
	text-align: center;
}

h1 {
	font-family: 'Press Start 2P';
	font-size: 2em;
}

#tetrec_page .ui-content {
	padding: 0;
}

.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-c {
	width: 0;
}

.ui-grid-b .ui-block-b {
	width: 100%;
}

@media all and (min-width: 40em) {
	.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-c {
		width: 30%;
	}

	.ui-grid-b .ui-block-b {
		width: 40%;
	}

	.tetrec-social-buttons {
		margin-top: 10%;
	}

	#tetrec_page .ui-content {
		padding: 1%;
	}
}

@media all and (min-width: 52em) {
	.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-c {
		width: 35%;
	}

	.ui-grid-b .ui-block-b {
		width: 30%;
	}

	.tetrec-social-buttons {
		margin-top: 20%;
	}

	#tetrec_page .ui-content {
		padding: 1%;
	}
}